{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./public"],
                "alias": {
                    "@root": "./public"
                }
            }
        ]
    ]
}
