html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: notoR, notoR-kr;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'notoR';
  font-style: normal;
  src: url("../../res/font/notoSans/NotoSans-Regular.woff2") format("woff2"), url("../../res/font/notoSans/NotoSans.woff") format("woff"), url("../../res/font/notoSans/NotoSans-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'notoR-kr';
  font-style: normal;
  src: url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.woff2") format("woff2"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular-Alphabetic.woff") format("woff"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.ttf") format("truetype"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.eot") format("embedded-opentype");
}

.black {
  color: #000000;
}

.blue {
  color: #3a98ff;
}

.blue--bg {
  background-color: #3a98ff;
}

.red {
  color: #ff4d4d;
}

.red--bg {
  background-color: #ea6672;
}

.pink {
  color: #ff95c6;
}

.gray {
  color: gray !important;
}

.yellow--light {
  color: #ffe200;
}

.yellow--bg {
  background-color: #f6cb61;
}

.orange--bg {
  background-color: #ef9e68;
}

.purple--bg {
  background-color: #bd52f2;
}

.green--bg {
  background-color: #15c48b;
}

.black--border {
  border: 1px solid black;
}

.gray--border {
  border: 1px solid gray;
}

.paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body__item--paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
}

.body__item--paging > * {
  padding: 0 1rem;
}

.body__item--paging > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__item--paging > ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__item--paging > ul li > img {
  width: 1rem;
  height: 1rem;
}

.body__item--paging--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
}

.body__item--paging--wrapper > a {
  padding: 0 0.75rem;
  text-decoration: none;
  color: black;
}

.body__item--paging--wrapper .underbar {
  text-decoration: underline;
}

@media (max-width: 421px) {
  .body__item--paging--wrapper > a {
    padding: 0 0.5rem;
  }
}

@font-face {
  font-family: 'notoR';
  font-style: normal;
  src: url("../../res/font/notoSans/NotoSans-Regular.woff2") format("woff2"), url("../../res/font/notoSans/NotoSans.woff") format("woff"), url("../../res/font/notoSans/NotoSans-Regular.eot") format("embedded-opentype");
}

@font-face {
  font-family: 'notoR-kr';
  font-style: normal;
  src: url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.woff2") format("woff2"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular-Alphabetic.woff") format("woff"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.ttf") format("truetype"), url("../../res/font/notoSansCJK/NotoSansCJKkr-Regular.eot") format("embedded-opentype");
}

.black {
  color: #000000;
}

.blue {
  color: #3a98ff;
}

.blue--bg {
  background-color: #3a98ff;
}

.red {
  color: #ff4d4d;
}

.red--bg {
  background-color: #ea6672;
}

.pink {
  color: #ff95c6;
}

.gray {
  color: gray !important;
}

.yellow--light {
  color: #ffe200;
}

.yellow--bg {
  background-color: #f6cb61;
}

.orange--bg {
  background-color: #ef9e68;
}

.purple--bg {
  background-color: #bd52f2;
}

.green--bg {
  background-color: #15c48b;
}

.black--border {
  border: 1px solid black;
}

.gray--border {
  border: 1px solid gray;
}

.paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body__item--paging {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 3rem 0;
}

.body__item--paging > * {
  padding: 0 1rem;
}

.body__item--paging > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__item--paging > ul li {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1rem;
  height: 1rem;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body__item--paging > ul li > img {
  width: 1rem;
  height: 1rem;
}

.body__item--paging--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
}

.body__item--paging--wrapper > a {
  padding: 0 0.75rem;
  text-decoration: none;
  color: black;
}

.body__item--paging--wrapper .underbar {
  text-decoration: underline;
}

@media (max-width: 421px) {
  .body__item--paging--wrapper > a {
    padding: 0 0.5rem;
  }
}

html {
  margin: 0;
  padding: 0;
  font-size: 12px;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(25px, auto) minmax(50px, auto) minmax(1000px, auto) 250px;
}

#headerBanner {
  height: 1.7rem;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #000000;
  padding: 15px 0;
}

header .header__item--banner:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
}

header .header__item--banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: #000000;
}

header .header__item--banner bold {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 10px;
}

header .header__item--snackbar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 1rem;
  left: 50%;
  z-index: 99999;
  padding: 1rem 2.5rem;
  background-color: #faedef;
  border: 1px solid #f1a2a9;
  border-radius: 0.5rem;
  color: black;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .header__item--snackbar > #snackbarIcon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.5rem;
  border-radius: 50%;
  -o-object-fit: fill;
     object-fit: fill;
}

header .header__item--snackbar > #snackbarText {
  margin-left: 2rem;
  font-size: 1.3rem;
}

header .header__item--snackbar .errorText {
  color: red;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.dialog__item {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
}

.dialog__lang--title {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.dialog__lang--input {
  width: 20rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.dialog__lang--subtitle {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 1rem;
  cursor: pointer;
}

.dialog__lang--searchTitle {
  padding: 1rem 0;
}

.dialog__lang--searchItemWrapper {
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 1rem;
}

.dialog__lang--searchItemWrapper > div {
  padding: 1rem;
  background-color: black;
  color: white;
  margin: 0 0.5rem 0.5rem 0;
}

.dialog__lang--choiceTitle {
  padding: 1rem 0;
  border-top: 1px solid #dddddd;
}

.dialog__lang--choiceItemWrapper {
  max-width: 20rem;
  min-height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 1rem;
  border-bottom: 1px solid #dddddd;
}

.dialog__lang--choiceItemWrapper > div {
  padding: 1rem;
  background-color: black;
  color: white;
  margin: 0 0.5rem 0.5rem 0;
}

.dialog__lang--ok {
  margin: 1rem 0;
  width: 100%;
  height: 3rem;
  background-color: black;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
}

.nav {
  margin: 0 16.6%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: none;
  min-height: 113px;
}

.nav .nav__main {
  width: 100%;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #000000;
}

.nav .nav__main .nav__item--icon {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__main .nav__item--icon * {
  margin-right: 10px;
}

.nav .nav__main .nav__item--icon h1 {
  font-size: 2.5rem;
}

.nav .nav__main .nav__item--icon img {
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.nav .nav__main .nav__item--icon p {
  font-size: 1rem;
  color: #a3a3a3;
}

.nav .nav__main .nav__item--link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav .nav__main .nav__item--link a {
  color: #000000;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0 20px;
}

.nav .nav__main .nav__item--search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: solid 1px #707070;
  border-radius: 30px;
  margin: 0 10px;
  padding: 5px 10px;
}

.nav .nav__main .nav__item--search figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav__main .nav__item--search figure img {
  width: 15px;
  height: 15px;
}

.nav .nav__main .nav__item--search input {
  border: none;
}

.nav .nav__main .nav__item--search input:focus {
  outline: none;
}

.nav__item--users {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 999;
}

.nav__item--users a {
  border: none;
  background-color: #ffffff;
  font-size: 1.1rem;
  color: #676767;
  padding: 0 1rem;
  text-decoration: none;
}

.nav__item--users--fig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item--users--fig > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.nav__item--users--fig > figcaption {
  font-size: 1.1rem;
  color: #676767;
  margin-right: 1rem;
  font-weight: 500;
}

.nav__item--users--alramWrap {
  position: relative;
  cursor: pointer;
}

.nav__item--users--alramNew {
  position: absolute;
  top: 0;
  left: 0;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: red;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.nav__item--users--alramContent {
  z-index: 9999;
  position: absolute;
  top: 3rem;
  width: 50rem;
  height: 40rem;
  background-color: white;
  border: 1px solid gray;
  -webkit-transform: translate(-95%, 0);
          transform: translate(-95%, 0);
  padding: 2rem;
  overflow: scroll;
}

.nav__item--users--alramContent > h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid gray;
  padding-bottom: 2rem;
}

.nav__item--users--alramContent .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1.5rem 1rem 1.5rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nav__item--users--alramContent .item .flex_1 {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
}

.nav__item--users--alramContent .item > h5 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
}

.nav__item--users--alramContent .item__conWrap {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__item--users--alramContent .item__conWrap--con {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.7);
  margin-bottom: 0.5rem;
}

.nav__item--users--alramContent .item__conWrap--date {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.nav__item--users--alramContent .item__conWrap > h5 {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.nav__item--users--alramContent .item > p {
  font-size: 1.2rem;
  padding: 0.5rem;
}

.nav__item--users--alramContent .item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav .nav__sub {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em 0;
  border-bottom: 1px solid #a3a3a3;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nav .nav__sub > a {
  text-decoration: none;
  font-size: 1.15rem;
  color: #a3a3a3;
  padding: 0.5rem 1rem;
}

.nav .nav__sub > .focus {
  font-weight: bold;
  color: black;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  background-color: #000000;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__item:nth-child(1) {
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-column: 2 / span 4;
}

footer .footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.1rem;
  color: #ffffff;
}

footer .footer__left {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer__left div {
  margin-bottom: 1.5rem;
}

footer .footer__left p {
  margin: 1.5rem 0;
}

footer .footer__left a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  font-weight: bold;
}

footer .footer__right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer .footer__right .invert {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

footer .footer__right img {
  width: 35px;
  height: 35px;
  padding: 0 5px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

.ql-editor {
  overflow-y: none !important;
}

.sidebar__recentItem--wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 120px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__recentItem--wrapper header {
  border: solid 1px #3d3d3e;
  border-bottom: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #3d3d3e;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 10px 0px;
}

.sidebar__recentItem--wrapper section {
  border: solid 1px #3d3d3e;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__recentItem--wrapper section * {
  padding: 5px 0;
}

.sidebar__recentItem--wrapper section .sidebar__recentItem--img {
  width: 85%;
  height: 8rem;
  -o-object-fit: contain;
     object-fit: contain;
}

.sidebar__recentItem--wrapper section .sidebar__recentItem--title--item {
  width: 85%;
  font-size: 1.1rem;
  font-weight: 400;
  color: #1c1c1c;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar__recentItem--wrapper section .sidebar__recentItem--price {
  width: 85%;
  text-align: left;
  font-weight: bold;
  color: #1c1c1c;
}

.sidebar__recentItem--wrapper > img {
  height: 3rem;
  margin-top: 1rem;
  cursor: pointer;
}

.sidebar__recentItem--wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sidebar__recentItem--wrapper footer .sidebar__recentItem--closeBtn {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
  padding: 5px 0;
  color: #000000;
  font-size: 1.1rem;
  font-weight: bold;
}

.report {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000000;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.1);
  top: 0;
  left: 0;
}

.report__wrap {
  background-color: white;
  border-radius: 1rem;
}

.report__wrap > * {
  padding: 1rem;
}

.report__title {
  background-color: #f0f0f0;
  font-size: 1.5rem;
}

.report__subTitle {
  font-size: 1rem;
}

.report__select {
  padding: 0;
  margin: 0 0 1rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2rem;
}

.report textarea {
  border-top: 1px solid #f0f0f0;
  border: none;
  outline: none;
  width: 20rem;
  height: 15rem;
  resize: none;
  font-size: 1.2rem;
}

.report__btnWrap {
  border-top: 1px solid #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.report__btnWrap > button {
  margin-left: 1rem;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .sidebar__right {
    display: none;
  }
  body .nav {
    margin: 0 2% !important;
  }
  body .nav .nav__item--users--alramContent {
    width: 40rem;
    height: 30rem;
  }
  body .nav .nav__item--users--alramContent > h3 {
    font-size: 1.5rem;
  }
  body main {
    margin: 0 2% !important;
  }
}

@media (max-width: 836px) {
  body > .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .nav {
    margin: 0;
  }
  body .nav__main {
    padding: 1rem 0 !important;
  }
  body .nav__item--search > input {
    width: 10rem;
  }
  body .nav__item--users img {
    width: 1.5rem;
    height: 1.5rem;
  }
  body .nav__item--users--alramContent {
    z-index: 9999 !important;
  }
}

@media (max-width: 769px) {
  body .nav__item--search > input {
    width: 6rem;
  }
}

@media (max-width: 421px) {
  body .header__item--banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 1rem;
    -webkit-transform: translate(0, -2px);
            transform: translate(0, -2px);
  }
  body .header__item--banner > bold {
    margin-top: 0.5rem;
  }
  body .nav {
    margin: 1rem 0;
  }
  body .nav .nav__item--users--alramContent {
    z-index: 9999 !important;
    width: 25rem;
    height: 20rem;
  }
  body .nav .nav__item--users--alramContent > h3 {
    font-size: 1.2rem;
  }
  body .nav__main {
    padding: 0 !important;
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: minmax(20px, auto) minmax(25px, auto);
        grid-template-rows: minmax(20px, auto) minmax(25px, auto);
  }
  body .nav__main .nav__item--icon {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    grid-row: 2 / span 3;
  }
  body .nav__main .nav__item--link {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / span 3;
    padding: 1rem 0 !important;
  }
  body .nav__main .nav__item--search {
    display: none !important;
  }
  body .nav__main .nav__item--users {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    -webkit-transform: translate(0, 100%);
            transform: translate(0, 100%);
  }
  body .nav__main .nav__item--users--alramWrap img {
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transform: translate(0, 20%);
            transform: translate(0, 20%);
  }
  body .nav__sub {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .footer > section {
    padding: 0 1rem;
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 7 !important;
    grid-column: 1 / span 7 !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .footer > section .footer__left {
    width: 100%;
  }
  body .footer > section .footer__right {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    margin-top: 1rem;
  }
}

@media (max-width: 321px) {
  body .nav__item--icon img {
    height: 30px !important;
  }
  body .nav__main .nav__item--users {
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }
}

.body__item:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.body__item:nth-child(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.body__item:nth-child(3) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.body__item:nth-child(4) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-column: 1 / span 6;
}

.main {
  margin: 0 16.6%;
  margin-bottom: 10%;
}

.main .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f5f5;
  padding: 2.5rem 0;
}

.main .header > p {
  font-size: 2rem;
  font-weight: 300;
}

.main .header > p > b {
  font-weight: bold;
}

.main .store {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.main .store__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-bottom: 1px solid black;
}

.main .store__header > h3 {
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.main .store__header > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .store__header > span > p {
  font-size: 1.2rem;
  color: #424242;
  font-weight: 300;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.main .store__header > span > a {
  color: black;
  cursor: pointer;
  font-size: 1.3rem;
  text-decoration: none;
}

.main .store__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 4rem 2rem;
  cursor: pointer;
  margin-bottom: 5rem;
}

.main .store__item > a {
  color: black;
  text-decoration: none;
}

.main .store__item > a .main__recommend--titleImg {
  position: relative;
  height: 20rem;
}

.main .store__item > a .main__recommend--titleImg figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.main .store__item > a .main__recommend--titleImg figcaption * {
  padding: 5px;
  margin: 10px 5px;
  border: solid 1px #707070;
  border-radius: 14px;
  background-color: white;
}

.main .store__item > a .main__recommend--titleImg img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .store__item > a .main__recommend--titleStr {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.main .store__item > a .main__recommend--subTitle--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .store__item > a .main__recommend--subTitle--wrapper .main__recommend--subTitle--price {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
  font-weight: bold;
}

.main .store__item > a .main__recommend--subTitle--wrapper .main__recommend--subTitle--point {
  font-size: 1.1rem;
  font-weight: 500;
  color: #7c7c7c;
}

.main .store__item > a .main__recoomend--subTitles {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}

.main .store__item > a .main__recoomend--subTitles b {
  font-weight: bold;
}

.main .store__work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .store__work .body__item {
  cursor: pointer;
  text-decoration: none;
  margin: 2rem 0;
  width: 24%;
  margin-right: 1%;
}

.main .store__work .body__item > figure {
  width: 100%;
  height: 20rem;
  position: relative;
}

.main .store__work .body__item > figure > figcaption {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .store__work .body__item > figure > figcaption > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.2rem 0.5rem;
  margin: 0.5rem 0.2rem;
  color: white;
  border: 1px solid #ffffff;
  border-radius: 1rem;
}

.main .store__work .body__item > figure > figcaption > span > img {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.main .store__work .body__item > figure > img {
  width: 100%;
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .store__work .body__item > figure .background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 20rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, rgba(0, 0, 0, 0.2)), color-stop(50%, rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.2)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.main .store__work .body__item > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .store__work .body__item > div > div {
  width: 70%;
  margin: 1rem 0;
  line-height: 1.5rem;
}

.main .store__work .body__item > div > div > h4 {
  width: 100%;
  color: black;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .store__work .body__item > div > div > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #a0a0a0;
}

.main .store__work .body__item > div > div > span > p {
  margin: 0.5rem 0.2rem 0 0;
}

.main .store__work .body__item > div > figure {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main .store__work .body__item > div > figure > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.main .store__work .body__item > div > figure > figcaption {
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .store__commuity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 5rem;
}

.main .store__commuity .body__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  cursor: pointer;
  padding: 2rem 0;
  border-bottom: 1px solid #dddddd;
  text-decoration: none;
}

.main .store__commuity .body__item--idx {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
}

.main .store__commuity .body__item--main {
  -webkit-box-flex: 10;
      -ms-flex: 10;
          flex: 10;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .store__commuity .body__item--main > * {
  padding: 0.5rem 0;
}

.main .store__commuity .body__item--main--title {
  font-size: 1.5rem;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main .store__commuity .body__item--main--des {
  font-size: 1.1rem;
  line-height: 1.3rem;
  color: #9a9a9a;
}

.main .store__commuity .body__item--main--ext {
  font-size: 1.1rem;
  color: #676767;
}

.main .store__commuity .body__item--main--box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .store__commuity .body__item--main--box .box--button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .store__commuity .body__item--main--box .box--button > p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.5rem 1rem;
  color: white;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  overflow: hidden;
}

.main .store__commuity .body__item--main--box .box--round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .store__commuity .body__item--main--box .box--round > figure {
  margin-left: 1rem;
  padding: 0.5rem 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  border: 1px solid #707070;
}

.main .store__commuity .body__item--main--box .box--round > figure > img {
  width: 1rem;
  height: 1rem;
}

.main .store__commuity .body__item--main--box .box--round > figure > figcaption {
  font-size: 0.9rem;
  padding: 0 0.5rem;
  color: black;
}

.main .store__commuity .body__item--writer {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin: 0 0.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .store__commuity .body__item--writer > figure {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .store__commuity .body__item--writer > figure > img {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  color: black;
  margin-right: 1rem;
}

.main .store__commuity .body__item--writer > figure > figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-break: break-all;
  font-size: 1.1rem;
  color: black;
}

.main .store__commuity .body__item--writer > figure > figcaption > p {
  color: #7b7b7b;
  line-height: 1.2rem;
  font-size: 0.9rem;
}

.main .store__commuity .body__item--date {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  color: #5a5a5c;
}

.main .store__commuity .body__item--date > * {
  padding: 0.5rem;
}

.main .store__commuity .body__item--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 1rem 0;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
}

.main .store__commuity .body__item--button a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10rem;
  height: 3rem;
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 836px) {
  #storeItemWrap {
    margin-top: 1rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  #workItemWrap > * {
    width: 32%;
  }
}

@media (max-width: 421px) {
  #storeItemWrap {
    margin-top: 1rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  #workItemWrap > * {
    width: 99%;
  }
  #portfolioItemWrap .body__item--idx {
    display: none;
  }
  #portfolioItemWrap .body__item--date {
    display: none;
  }
  #portfolioItemWrap .body__item--writer > figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #boardItemWrap .body__item--idx {
    display: none;
  }
  #boardItemWrap .body__item--date {
    display: none;
  }
  #boardItemWrap .body__item--writer > figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #badmouseItemWrap .body__item--idx {
    display: none;
  }
  #badmouseItemWrap .body__item--date {
    display: none;
  }
  #badmouseItemWrap .body__item--writer > figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #tipItemWrap .body__item--idx {
    display: none;
  }
  #tipItemWrap .body__item--date {
    display: none;
  }
  #tipItemWrap .body__item--writer > figure {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
